@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --font-family: "Chakra Petch", sans-serif;
  --transitionFactor: 1;
  /* Color */
  --color-bg-primary-v1: #000000;
  --color-bg-primary-v2: #060507;
  --color-bg-primary-v3: rgb(15, 12, 17);
  --color-bg-primary-v4: rgb(34, 34, 38);
  --color-bg-primary-v1-50: rgb(0, 0, 0,.5);
  --color-bg-primary-v3-90: rgb(15, 12, 17,.9);
  --color-bg-primary-v4-90: rgb(34, 34, 38,.9);
  --color-primary: #8760D2;
  --color-secondary: #9A6CF2;
  --color-primary-50: rgb(135, 96, 210,.5);
  --color-text-primary: #fff;
  --color-text-secondary: #AAAAAA;
  --color-text-buble: #B98EF6;
  --color-text-gray: #222226;
  --radius: 10;
  --base-screen-height: 1440;
  --scale: 1;
  --px: calc(1vh / var(--base-screen-height) * 100 * var(--scale));
  --border-radius: calc(var(--radius) * var(--px));
}

*,
::after,
::before {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 0.4vh;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: calc(20 * var(--px));
}

#app {
  width: 100vw;
  height: 100vh;
  padding: calc(40 * var(--px));
  position: relative;
  overflow: hidden;
  background-image: url("https://i.imgur.com/iPTAdYV.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
}
.container .wrapper {
  top: 18vh;
  right: 0;
  width: auto;
  height: auto;
}
.container .wrapper .radio {
  width: calc(320 * var(--px));
}
.container .wrapper .radio .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(15 * var(--px));
  background: var(--color-primary-50);
  width: 100%;
  height: calc(55 * var(--px));
  border-radius: calc(15 * var(--px));
}
.container .wrapper .radio .header .header-text {
  font-size: calc(30 * var(--px));
  font-weight: 900;
}
.container .wrapper .radio .header .header-flex {
  display: flex;
  align-items: center;
  gap: calc(5 * var(--px));
  font-weight: 500;
}
.container .wrapper .radio .header .header-flex .mhz {
  width: calc(100 * var(--px));
  text-align: center;
  padding: calc(5 * var(--px));
  background: var(--color-bg-primary-v1-50);
  border-radius: calc(10 * var(--px));
}
.container .wrapper .radio .header .header-flex .online {
  width: calc(80 * var(--px));
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-buble);
  gap: calc(10 * var(--px));
  padding: calc(5 * var(--px));
  background: var(--color-bg-primary-v1-50);
  border-radius: calc(10 * var(--px));
}
.container .wrapper .radio .header .header-flex .online img {
  width: calc(20 * var(--px));
}
.container .wrapper .radio .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--px));
  margin: calc(5 * var(--px)) 0;
}
.container .wrapper .radio .content .list-radio {
  display: flex;
  align-items: center;
  font-size: calc(16 * var(--px));
  font-weight: 500;
  gap: calc(8 * var(--px));
  padding: 0 calc(10 * var(--px));
  height: calc(30 * var(--px));
  border-radius: calc(15 * var(--px));
  background: linear-gradient(90deg, var(--color-bg-primary-v3-90), var(--color-bg-primary-v4-90));
}
.container .wrapper .radio .content .list-radio .line {
  width: calc(10 * var(--px));
  height: calc(10 * var(--px));
  background: var(--color-text-gray);
  border-radius: 50%;
}
.container .wrapper .radio .content .list-radio .name {
  width: calc(150 * var(--px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .wrapper .radio .content .list-radio .id {
  width: calc(90 * var(--px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .wrapper .radio .content .list-radio .voice {
  display: flex;
  align-items: center;
  width: calc(28 * var(--px));
}
.container .wrapper .radio .content .list-radio .voice .img {
  width: calc(20 * var(--px));
  height: calc(20 * var(--px));
  background: url("../img/voice.svg") no-repeat center;
  background-size: contain;
}
.container .wrapper .radio .content .list-radio.active .line {
  background: var(--color-primary);
  box-shadow: 0 0 4px var(--color-primary);
}
.container .wrapper .radio .content .list-radio.active .val {
  color: var(--color-primary);
}
.container .wrapper .radio .content .list-radio.active .name {
  color: var(--color-primary);
}
.container .wrapper .radio .content .list-radio.active .voice .img {
  width: calc(20 * var(--px));
  height: calc(20 * var(--px));
  background: url("../img/voice-true.svg") no-repeat center;
  background-size: contain;
}
.container .wrapper .radio .footer {
  text-align: center;
  width: 100%;
  padding: calc(5 * var(--px));
  font-size: calc(18 * var(--px));
  font-weight: 500;
  color: var(--color-primary);
  background: var(--color-bg-primary-v3-90);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #e74c3c;
}

.text-green {
  color: #2ecc71;
}

.text-blue {
  color: #3498db;
}

.border-test {
  border-width: 1px;
  border-style: solid;
  border-color: #e74c3c;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.poem::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  border-radius: calc(10 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar {
  width: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}

.poem::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-thumb {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

.poem-x::-webkit-scrollbar-track {
  border-radius: calc(10 * var(--px));
  -webkit-box-shadow: inset 0 0 calc(6 * var(--px)) rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.poem-x::-webkit-scrollbar {
  width: calc(1 * var(--px));
  height: calc(5 * var(--px));
  background-color: rgba(0, 0, 0, 0.3);
}
